@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
html,body{
    margin: 0px;
    padding: 0px;
}
.logo{
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 25px;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 30px;
    background-color: beige;
    box-shadow: 0 5px 15px black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    margin-bottom: 20px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
    list-style: none;
    padding:  0px 10px;
    border-bottom: none;
    position:relative
    
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: o.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:cornflowerblue;

}
#navbar li a.active::after,#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background:cornflowerblue;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: centre;
}
#close{
    display: none;
}
h1{
    font-size: 50px;
    line-height: 30px;
    color:#222;
    padding: 0px;
    margin: 0px;
}
h2{
    font-size: 35px;
    line-height: 40px;
    color:#222;
    padding: 0px;
    margin: 0px;
}
h4{
    font-size: 20px; 
    color:#222;
    padding: 0px;
    margin: 0px;
}
h6{
font-weight: 700;
font-size: 12px;
color:#222;
padding: 0px;
margin: 0px;
}
p{
    font-size: 20px;
    margin:2px;
    padding: 15px 0px 20px;
}
.secton-p1{
    padding: 40px 80px;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color:cornflowerblue;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
.secton-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
/* #hero{ */
    /* background-image: url("/image/hero..jpg"); */
    /* height: 100px; */
    /* width: 100vh; */
    /* background-size: cover; */
    /* background-position: top 25% right 0%; */
    /* padding: 0 80px; */

/* } */
#hero{
    background-image: url("/image/hero.jpg");
    height: 100vh; /* Full viewport height */
    width: 100%;
    background-size: cover;
    background-position:top 25% right 0;
    position: relative;
    display: flex;
    padding: 0 80px;
    align-items: flex-start;
    justify-content: centre;
    flex-direction: column;
}
.hero-img {
    max-width: 100%;
    height: auto;
  }
#hero h4{
    padding-bottom: 0px;
}
#hero h1{
    color: cadetblue;
}
#hero button{
    background-color: cornflowerblue ;
    border: 0;
    padding: 14px 80px 14px 65px;
    border-radius: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    font-weight: 500;
    font-size: medium;
}
#features{
    padding: 30px 20px ;
}
#features.fe-box{
    padding: 20px 15px;
    text-align: center;
    box-shadow: 15px 10px 30px rgba(0 , 0 , 0 , 0.03);
    border:1px solid #cce7d0;
    border-radius: 4px;
    margin :15px 0;
}
#features.fe-box:hover{
    box-shadow: 15px 10px 30px rgba(70 , 62 , 221 , 0.1);
}
#features.fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color :#088178;
    background-color: #fddde4;
}
#product1{
    text-align: center;
}
#product1.pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #fddde4;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0 , 0 , 0 , 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position:relative ;

}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0 , 0 , 0 , 0.06);

}
#product1 .pro.des{
    text-align: start;
    padding: 10px 0;
}
#banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(/image/banner.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover ;
    background-position: center;
}
#banner button:hover{
    background-color: #088178;
    color: #fff;
}
#newsletter{
    padding: 40px 80px;
    margin: 40px 0;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(/image/form.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-size: cover;
    background-color: #041e42;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
   
    border: 1px solid transparent;
    border-radius:4px ;
    outline: none;
}
#newsletter button{
    white-space: nowrap;
    color: white;

}
#foott{
    display: flex;
    background-color: whitesmoke;
    flex-wrap: wrap;
    justify-content: space-between;

}
#foott p{
    margin: 0;
    padding: 4px 0;
    
}
#foott.col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:flex-start ;
    margin-bottom: 20px; 
}
#foott a{
    font-size: 13px;
    text-decoration: none;
    color:#222;
    margin-bottom: 10px;
}
#signup:hover{
    
    background-color: #088178;
}
#foott a:hover{
    color: cornflowerblue;
}
@media (max-width:799px) {
    .secton-p1{
    padding: 40px 80px;
}
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0 , 0 , 0 , 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;

    }
    #mobile{
    display: flex;
    align-items: centre;
}
#close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 20px;
    color: black;
    font-size: 24px;
}
#lg-bag{
    display: none;
}
#hero {
   height:70vh;
   padding: 0 80px;
   background-position: right 30% left 30%;
}
#feature{
    justify-content: centre;
}
#feature.fe-box{
    margin: 15px 15px;

}
#product1 .pro-container{
    justify-content: centre;

}
#product1.pro{
    margin: 15px;
}
#banner{
    height: 20vh;
}
#contact-details .map{
    object-fit: cover;
}
#form-details {
    padding: 40px;
}
#form-details form{
    width: 50%;
}
}
@media(max-width:477px){
    .section-p1{
        padding: 20px;
    }
    #header{
        padding:10px 30px;
    }
    h2{
        font-size: 32px;
    }
    h1{
        font-size: 38px;
    }
    #her0{
        padding: 0 20px;
        background-position: 55%;
    }
    #feature{
        justify-content: space-between;
    }
    #feature.fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1.pro{
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #newsletter{
        padding: 40px 20px;
    }
    #newsletter.form{
        width: 100%;
    }
    #prodetails{
        display: flex;
        flex-direction: column;
    }
     #prodetails.single-pro-image{
        width: 100%;
        margin-right: 0px;

     }
      #prodetails.single-pro-details{
        width: 100%;
      }
      /*about page  */
      #about-head{
        
        flex-direction: column;
      }
      #about-head img{
        width: 100%;
        margin-bottom: 20px;
      }
      #about-head div{
        padding-left: 0px;
      }
      #contact-details{
        flex-direction: column;

      }
       #contact-details.map{
        width: 100%;
       }
       #form-details{
        margin: 10px;
        padding:30px 10px;
        flex-wrap: wrap;
       }
       #form-details{
        width: 100%;
        margin-bottom: 30px;
       }
}
/* shop styling */
#page-header{
    background-image:url(/image/shop.hero.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display:flex;
    justify-content:center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
 
}
#page-header h2{
    color: #e3e6f3;
    font-weight: 700;
}
#prodetails{
    display: flex;
    margin-top:20px ;

}
/* #prodetails.single-pro-image{
    width:100%;
    margin-right: 60px;

} */
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails.single-pro-details{
    padding-top: 40px;
    width: 50%;
    
}
#prodetails.single-pro-details input{
    width: 10px;
    height: 47px;
    font-size: 16px;
    padding-left: 10px;
    margin-right:10px ;
}
#prodetails.single-pro-details input:focus{
    outline: none;
}
#prodetails.single-pro-details button{
    background: #088178;
    color: #fff;
}
#prodetails.single-pro-details span{
    line-height: 25px;
}
#page-header.about-header{
    background-image: url(/image/about.jpg);
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    height:60%;
    width: 50%;
    margin-right: 50px ;
    padding-top: 20px;
    padding-left: 20px;
}
#page-header.contact-header{
    background-image: url(/image/contact2.jpg);
}
.contact-header img{
    width: 100%;
    display: block;
}
#contact-details{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#contact-details.details{
    width: 40%;
}
#contact-details.details span,
#form-details form{
    font-size: 12px;

}
#contact-details.details h2,
#form-details form h2{
    font-weight: 800;
    font-size: 26px;
    line-height: 35px;
    padding: 0px;
}
#contact-details.details h3{
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details.details li{
    list-style: none;
    padding-bottom: 0px;
    display: flex;
    padding: 10px 0px;
}
#contact-details.details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details.details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details.map{
    width: 55%;
    height: 400px;
}
#contact-details.map iframe{
     width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form-details form{
    margin-left: 20px;
    margin-top: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom:20px;
    border: 1px solid   #e1e1e1;
}
#form-details form button{
    background-color: #088178;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items:flex-start;
}
#form-details .people div img{
    object-fit: cover;
    margin-right: 15px;   
}
#form-details .people div p{
    margin-bottom: 0px;
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div p span{
    margin-bottom: 0px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;

}
#page-header .cart-header{
    background-image: url(/image/cartpic.jpg);
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space:nowrap;
}
#cart table img{
    width: 70%;

}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;

}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;

}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;

}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;

}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0 ;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
    font-size: 13px;
}
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#subtotal h3{
    padding-bottom: 15pxS;

}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
#subtotal button{
    background-color: #088178;
    padding: 12px 20px;
}
